@model PlanDetail

<h2>Confirm courses</h2>
<p>Please enter your details</p>


<div asp-validation-summary="All" class="text-danger"></div> 

<form asp-action="Saveplan" method="post">
    <div class="form-group">
        <label>Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    </br>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete Plan" />
    </div>
</form>